{% extends "auth.html" %}
{% load static %}


{% block page_title %}
  Login    
{% endblock page_title %}


{% block morecss %}
  <style type="text/css">
    @media (min-width: 992px) {
      .wrap-login100 {
        padding: 20px 130px 20px 95px;
      }
    }
    .login100-form-title { margin-bottom: 0px; }
    img{ padding-left: 20px; }
  </style>
{% endblock morecss %}


{% block content %}
        <form action='{% if action_url %} {{action_url}} {% else %} {% url "login" %} {% endif %}' method="post" class="login100-form validate-form">
          <span class="login100-form-title" style="padding: 30px 0px;">
            SBEE
          </span>

              {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <ul>
                      {% for error in form.errors %}
                        <li>{{error}}</li>
                      {% endfor %}
                  </ul>
                </div>
              {% endif%}

              {% csrf_token %}
              {% if next_url %}
                <input type="hidden" name="next" value="{{next_url}}"/>
              {% endif %}


			<div class='row'>
			    <div class="col-12 text-center py-5">
			            <h1 class='my-5 py-5'>Réinitialisation du mot de passe faite</h1>
		                <a class="txt2" href='{% url "login" %}' style="font-size: 20px;">Se connecter
          					<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
        				</a>
			      </div>
			</div>
        </form>
{% endblock content %}


{% block morejs %}

{% endblock morejs %}
