{% extends "base.html" %}
{% load static %}

{% block morecss %}
    <link rel="stylesheet" href='{% static "bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" %}'>
{% endblock morecss %}

{% block content %}

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box"  style="padding: 20px">
            <div class="box-header">
              <h3 class="box-title">Ce tableau contient la liste des factures sélectionnées</h3>
              <b class="pull-right">Total: {{ cart.total }} FCFA</b>
              <hr>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              {% if cart.factures.exists %}
              <table id="example1" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Référence</th>
                  <th>Période</th>
                  <th>Date Limite</th>
                  <th>Montant</th>
                  <th>Options</th>
                </tr>
                </thead>
                <tbody>
                  {% for facture in cart.factures.all %}
                  <tr>
                    <td>{{ facture.ref }}</td>
                    <td>{{ facture.periode_factuu }} {{ facture.annee_factu }}</td>
                    <td>{{ facture.date_limitee }}</td>
                    <td>{{ facture.montant_ttc }} FCFA</td>
                    <td class="btn-group col">
                      <div class="col-xs-5"><a type="button" href="{{facture.get_url}}" class="btn btn-success">Voir</a></div>
                      <div class="col-xs-7">{% include 'snippets/updatecart.html' with facture=facture cart=cart in_cart=True %}</div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>Référence</th>
                  <th>Période</th>
                  <th>Date Limite</th>
                  <th>Montant</th>
                  <th>Options</th>
                </tr>
                </tfoot>
              </table>
              <hr>
              <div>
                <div><button class="btn btn-success bn-lg col-xs-12 col-md-8 col-md-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" data-toggle="modal" data-target="#myModal">Payer</button></div>
                <!-- <div><a href='{% url "carts:checkout" %}' class="btn btn-success bn-lg col-xs-12 col-md-8 col-md-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">Checkout</a></div> -->
              </div>
              {% else %}
                  <p class="text-center">Aucune facture choisie</p>
              {% endif %}

              <div class="modalss">

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Choississez votre methode de paiement</h4>
                      </div>
                      <div class="modal-body">

                        <div role="tabpanel">

                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mobile Money</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Paypal</a></li>
                          </ul>

                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                              <div class="row" style="margin-top: 20px">
                                <div class="col-md-5"><img src='{% static "dist/img/mtn.jpg" %}' class="ing-responsive" height="150px;" alt="logo Mobile Money"></div>
                                <div class="col-md-7">
                                  <form class="" method="">
                                    <div class="form-group">
                                      <label for="exampleInputAmount">Entrez votre numéro de téléphone</label><br><br>
                                      <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                        <input type="number" class="form-control" id="exampleInputAmount" placeholder="Numéro Mobile Money">
                                      </div>
                                    </div>
                                    <!-- <button type="submit" class="btn btn-primary text-center">Payer</button> -->
                                  </form>
                                  <div><a href='{% url "carts:checkout" %}' class="btn btn-success bn-lg col-xs-12 col-md-8 col-md-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">Payer</a></div>
                                </div>
                              </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                              <div class="row" style="margin-top: 20px">
                                <div class="col-md-5"><img src='{% static "dist/img/paypal.png" %}' class="ing-responsive" height="150px;" alt="logo Paypal"></div>
                                <div class="col-md-7">
                                  <form class="" method="">
                                    <div class="form-group">
                                      <label for="exampleInputAmount">Entrez votre adresse email</label><br><br>
                                      <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                        <input type="email" class="form-control" id="exampleInputAmount" placeholder="Adresse Email Paypal">
                                      </div>
                                    </div>
                                    <!-- <button type="submit" class="btn btn-primary text-center">Payer</button> -->
                                  </form>
                                  <div><a href='{% url "carts:checkout" %}' class="btn btn-success bn-lg col-xs-12 col-md-8 col-md-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">Payer</a></div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>


                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock content %}

{% block morejs %}
    <script src='{% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}'></script>
  <script src='{% static "bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}'></script>
  <script>
    $(function () {
      $('#example1').DataTable()
    })
  </script>
{% endblock morejs %}
